<div class="footer flex col a-c m-a text-center">
    <div class="h-line"></div>
    <span class="warning italic _12 text-light">AFFILIATE DISCLOSURE: This website may contain affiliate links, which means we may receive a commission if you click a link and purchase something that we recommended.</span>
    <div class="h-line"></div>
    <span class="warning italic _12 text-light">RISK DISCLOSURE: TraderInsideMe is the blog made for educational purpose. This blog is made with purpose to share knowledge and spread awareness about stock market trading. Trading in stock market is risky. Kindly trade at your own risk. Risk capital in stock market which you can afford to lose.</span>
    <div class="h-line"></div>
    <span class="_14 text-light">COPYRIGHT © 2021 TRADERINSIDEME.COM</span>
    <div class="h-line"></div>
    <ul class="flex wrap j-c w-100per text-light _14" [ngClass]="{'row': !media.s, 'col':media.s}">
        <li><a class="footer-nav pointer flex j-c" (click)="scrollTop()" routerLink="/privacy-policy">PRIVACY POLICY</a></li>
        <li><a class="footer-nav pointer flex j-c" (click)="scrollTop()" routerLink="/cookie-policy">COOKIE POLICY</a></li>
        <li><a class="footer-nav pointer flex j-c" (click)="scrollTop()" routerLink="/terms">TERMS</a></li>
    </ul>


</div>
